<div class=" flex flex-col " >
  <app-slideshow></app-slideshow>
</div>
<div class="bg-gray-100 min-h-screen " id="product-list">
  <div class="container mx-auto max-w-7xl pt-5">
    <div class="flex flex-col md:flex-row">
      <!-- Filter Sidebar -->
      <div class="w-full md:w-1/4 p-4 bg-white rounded-lg shadow-md mb-4 md:mb-0 md:mr-4">
        <h3 class="text-xl font-bold mb-4 text-gray-800">Filters</h3>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700 mb-1">Min Price</label>
          <input type="number" [(ngModel)]="minPrice" placeholder="Min Price" min="0"
            class="w-full p-2 border rounded-md">
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700 mb-1">Max Price</label>
          <input type="number" [(ngModel)]="maxPrice" placeholder="Max Price" min="0"
            class="w-full p-2 border rounded-md">
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700 mb-1">Min Stock Quantity</label>
          <input type="number" [(ngModel)]="minStockQuantity" placeholder="Min Stock Quantity" min="0"
            class="w-full p-2 border rounded-md">
        </div>
        <button (click)="filterProducts()"
          class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300">
          Apply Filters
        </button>
      </div>
      <!-- Main Content -->
      <div class="w-full md:w-3/4">
        <!-- Category Buttons -->
        <div class="flex flex-wrap justify-center mb-6 space-x-2">
          <button (click)="showAllProducts()" [ngClass]="{
          'bg-blue-500 text-white': !selectedCategory,
          'bg-gray-200 text-gray-700': selectedCategory
        }" class="px-6 py-3 bg-blue-600 text-white rounded-full hover:bg-blue-700 transition duration-300">
            All
          </button>
          <button *ngFor="let category of categories" (click)="filterByCategory(category.name)" [ngClass]="{
          'bg-blue-500 text-white': category.name === selectedCategory,
          'bg-gray-200 text-gray-700': category.name !== selectedCategory
        }" class="px-6 py-3 bg-blue-600 text-white rounded-full hover:bg-blue-700 transition duration-300">
            {{ category.name }}
          </button>
        </div>

        <!-- Book count -->
        <div class="mx-4 flex justify-start items-center mb-4">
          <h2 class="text-2xl font-bold text-gray-800">Books</h2>
          <span class="ml-4 text-xl text-gray-600" *ngIf="totalResults !== null">
            ({{ totalResults }} results)
          </span>
        </div>
        <!-- Book grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-4" *ngIf="products.length">
          <app-product 
          *ngFor="let product of products" 
    [product]="product"
    (addToCartClicked)="addToCart($event)"
          ></app-product>
        </div>
        <!-- No results message -->
        <div class="text-center text-gray-600 mt-14" *ngIf="!products.length">
          No books available.
        </div>
        <!-- Pagination -->
        <div class="flex justify-center items-center mt-8 space-x-4">
          <button (click)="previousPage()" [disabled]="currentPage === 0"
            class="w-10 h-10 flex items-center justify-center bg-blue-500 text-white rounded-full disabled:opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          </button>
          <div class="flex space-x-1">
            <button *ngFor="let page of pageNumbers" (click)="goToPage(page)" [ngClass]="{
            'bg-blue-500 text-white': page === currentPage,
            'bg-gray-200 text-gray-700': page !== currentPage
          }" class="w-10 h-10 flex items-center justify-center rounded-full">
              {{ page + 1 }}
            </button>
          </div>
          <button (click)="nextPage()" [disabled]="currentPage + 1 === totalPages"
            class="w-10 h-10 flex items-center justify-center bg-blue-500 text-white rounded-full disabled:opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>