<div [routerLink]="['/product', product.productId]" class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transform transition-all duration-300 hover:scale-105 cursor-auto " *ngIf="product">
  <img [src]="apiThumnailUrl + product.thumbnailUrl" [alt]="product.name" class="w-full h-64 object-cover">
  <div class="p-4">
    <h2 class="font-bold text-xl mb-2 h-14 overflow-hidden">{{ product.name }}</h2>
    <div class="flex justify-between items-center mb-4">
      <span class="text-xl font-bold text-blue-600">{{ product.price | currency }}</span>
      <span class="text-sm text-gray-600">Stock: {{ product.stockQuantity }}</span>
    </div>
    <button (click)="addToCart($event)" class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300 flex items-center justify-center">
      <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
      </svg>
      Add to cart
    </button>
  </div>
</div>

