<!-- request-password-reset.component.html -->
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-xl p-8 space-y-8 bg-white rounded shadow-lg">
        <h2 class="text-2xl font-bold text-center text-gray-900">Request Password Reset</h2>
        <form (submit)="requestPasswordReset()">
            <div class="space-y-4">
             <label for="email" class="block text-sm font-medium text-gray-700 ">Email</label>
                <input  class="block w-full px-3 py-2 mt-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" type="email" id="email" [(ngModel)]="email" name="email" required>
            
            <button type="submit"
                class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Submit
            </button>
        </div>
        </form>
        
    </div>
</div>